.nextui-c-eXOOPO{
    background: white;
    border-color: orange;
}
.nextui-c-jeuecp{
    background: white;
    border-color: orange;
}
.nextui-c-iwmZdB{
    --nextui--inputBorderColor: orange;
    --nextui--inputHoverBorderColor: orange;

}
.nextui-c-iwmZdB-gOvjVW-size-md {
    --nextui--inputBorderRadius: var(--nextui-space-1);
}
.nextui-c-iwmZdB-dpkacN-borderWeight-normal {
    --nextui--inputBorderWeight: var(--nextui-borderWeights-light);
}
.nextui-c-hzQjrs {
    color:black;
}