/*  Navbar    */
.navbar {
    background-color: white;
    width: 15vw;
    height: 100vh;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: relative;
}

.navbar .item-container {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.navbar .item-container li {
    margin: 0;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

.navbar #logo {
    position: absolute;
    margin-top: 40px;
    left: 50%;
    transform: translate(-50%);
    width: 60%;
}

.navbar #settings {
    position: absolute;
    width: 18%;
    left: 50%;
    bottom: 8%;
    transform: translate(-50%);
}

.navbar #active {
    background: rgb(250,216,23);
    background: linear-gradient(60deg, rgba(250,216,23,1) 0%, rgba(245,132,6,0.9) 50%, rgba(233,100,44,1) 100%);
    padding: 10px 0 10px 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

@media only screen and (max-width: 1280px) {
    .navbar {
        width: 200px;
    }
}
/*  /Navbar    */

/*  Table   */
.nextui-c-cAbbLF
{
    background: #E9642C;
}

.nextui-c-hWZRae-kUADSW-bordered-true
{
    border-color: #e9652c4a;
}

.nextui-c-kNgzEX
{
    background: #e9652ca2;
    color: white;
}
/*  /Table  */