body
{
    background: #FFECD9
}

/*  Table   */
.nextui-c-cAbbLF
{
    background: #E9642C;
}

.nextui-c-hWZRae-kUADSW-bordered-true
{
    border-color: #f19d79;
    border-width: 1px;
}

.nextui-c-kNgzEX
{
    background: #e9652ca2;
    color: white;
}
/*  /Table  */

/*  SearchBar   */
#searchbar {
    all: unset;
    border: solid #95A4AA;
    border-width: 2px;
    border-radius: 28px;
    width: 476px;
    height: 55px;
    padding-left: 40px;
    padding-right: 30px;
}
/*  /SearchBar   */
