/*  Navbar    */
.navbar {
    background-color: white;
    width: 15vw;
    height: 100vh;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: relative;
}

.navbar .item-container {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.navbar .item-container li {
    margin: 5%;
}

.navbar #logo {
    position: absolute;
    margin-top: 40px;
    left: 50%;
    transform: translate(-50%);
    width: 60%;
}

.navbar #settings {
    position: absolute;
    width: 18%;
    left: 50%;
    bottom: 8%;
    transform: translate(-50%);
}

@media only screen and (max-width: 1280px) {
    .navbar {
        width: 200px;
    }
}
/*  /Navbar    */

/*  Yellow Button    */
.yellow_button {
    display: flex;
    align-items: center;
    background-color: rgb(253, 236, 139);
    color: rgb(47, 55, 58);
}

.yellow_button:hover {
    border-color: rgb(250, 212, 0);
    border-width: 3px;
}
/*  /Yellow Button    */